.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(0, 162, 255);
  box-shadow: 2px 2px 10px 5px rgb(0, 162, 255);
  padding: 30px;
  border-radius: 10px;
}
